
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about some of my favorite superheroes!</p>
    <img src="https://d2jv9003bew7ag.cloudfront.net/uploads/My-Mask1-865x577.jpg" alt="superbat pic" width="400">
</div>
